.poster {
    width: 100%;

    &-wrapper {
      img {
max-width: 100%;
      }
    }
  }
  
  
  @media (max-width: 768px) {
    .poster {
      padding: 23px 28px 0 25px;
    }
  }
@media (max-width: 475px) {
  .poster{
    padding: 0;
  }
}
.text-title{
  display: flex;
  flex-direction: column;
@media (max-width: 480px) {
  display: none;
}
}
.poster-title{
  font-size: 60px;
  @media (max-width: 960px) {
    font-size: 30px;
  }
  @media (max-width: 630px) {
    font-size: 14px;

  }
}