.repair-title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  gap: 40px;
  @media (max-width: 1300px) {
    display: flex;
    flex-direction: column;
  }
}
.work-description{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 20px;
}
.repairH2{
  font-size: 26px;
}
.sendBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 60px;
  border: 2px solid greenyellow;
  border-radius: 12px;
  background: greenyellow;
  text-align: center;
}
.deliveryBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 60px;
  border: 2px solid red;
  border-radius: 12px;
  background: red;
  text-align: center;
}
.status{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 60px;
  border: 2px solid yellow;
  border-radius: 12px;
  background: yellow;
  text-align: center;
}
.repair-works{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.repair-item{
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}